.description-wrapper{
    margin: 20px;
}

.description-item{
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 5px;
}

.wrapper{
    display: flex;
    margin: 10px;
}

.bold{
    font-weight: bold;
}

.message{
    margin-top: 25px !important;
    width: 25%;
    height: 80px;
}

.info-wrapper{
    width: 150px;
    height: 260px;
}

.info-box{
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 250px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
}
